<p id="notice"><%= notice %></p>

<h1>Listing Inventories</h1>

<table>
  <thead>
    <tr>
      <th>Juice 16 oz</th>
      <th>Grand slam</th>
      <th>Apple juice gallon</th>
      <th>Lemon juice</th>
      <th>Detox gallon</th>
      <th>Powerfule</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= inventory.juice_16_oz %></td>
        <td><%= inventory.grand_slam %></td>
        <td><%= inventory.apple_juice_gallon %></td>
        <td><%= inventory.lemon_juice %></td>
        <td><%= inventory.detox_gallon %></td>
        <td><%= inventory.powerfule %></td>
        <td><%= inventory.user_id %></td>
        <td><%= link_to 'Show', inventory %></td>
        <td><%= link_to 'Edit', edit_inventory_path(inventory) %></td>
        <td><%= link_to 'Destroy', inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inventory', new_inventory_path %>
